<div class="container">
  <div class="padding--16"></div>
  <img [src]="baseImagePath + 'nutrition.jpg'" alt="">
  <div class="padding--16"></div>
  <div fxLayout="row" fxLayoutGap="16px">
    <mat-card fxFlex="75%">
      <p class="text-body3">Get list of nutrition information of food and drink</p>
      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
        <div class="Input">
          <input type="text" id="input" class="Input-text" placeholder="enter food name" [(ngModel)]="searchRecipe">
          <div class="padding--4"></div>
          <mat-hint>ex. bread, noodles, orange juice</mat-hint>
        </div>
        <div class="padding--8"></div>
        <div fxLayoutAlign="" style="margin-top: -20px;">
          <button class="subscribe_btn" mat-raised-button (click)="getRecipe()">search</button>
        </div>
      </div>
      <div class="padding--16"></div>
      <div fxLayout="column" *ngIf="quote">
        <div fxLayoutAlign="center">
          <p class="text-body2 font-bold">Nutrition information of <span
              style="text-transform:uppercase; color: #cf1578;">"{{name}}"</span>
          </p>
        </div>
        <div fxLayout=" row" fxLayoutGap="16px">
          <!-- nutrition detail -->
          <div class="nutrition_detail" fxFlex="45%">
            <p fxLayoutAlign="center center" class="text-body3">Portion size: 100gm</p>
            <div fxLayoutAlign="space-between center" style="background-color: #c39ea0; padding: 4px; color: #fff;">
              <div>
                <h5>Amount per portion</h5>
                <p class="text-body2 font-bold">Calories</p>
              </div>
              <div fxLayoutAlign="space-between center">
                <p class="text-body2 font-bold">241</p>
              </div>
            </div>
            <div class="padding--4"></div>
            <div fxLayoutAlign="end">
              <h5>% Daily Value *</h5>
            </div>
            <ng-container *ngFor="let type of nutrientsTypes; let i = index">
              <ng-container *ngIf="i > 0">
                <div fxLayout="row" fxLayoutAlign="space-between center">
                  <div fxLayout="row" fxLayoutGap="16px">
                    <p class="text-body3">{{type?.displayname}}</p>
                    <p class="text-body3">{{type?.value}} {{type?.weight}}</p>
                  </div>
                  <ng-container *ngIf="type?.name !== 'sugar_g'">
                    <p class="text-body3 font-bold">{{type?.percentage}}%</p>
                  </ng-container>
                </div>
              </ng-container>

            </ng-container>
            <div>
              <h5>* The % Daily Value (DV) tells you how much a nutrient in a serving of food contribute to a daily
                diet. 2000 calories a day is used for general nutrition advice.</h5>
            </div>
          </div>
          <mat-divider vertical></mat-divider>
          <!-- graph detail -->
          <div fxFlex="50%" fxLayoutAlign="center center">
            <canvas fxFlex.xs="" class="canvas" id="abilityWiseChart" #abilityWiseChart width="400px"
              height="400px"></canvas>
          </div>
        </div>
      </div>
      <div *ngIf="errorMsg">
        <p class="text-body3">{{errorMsg}}</p>
      </div>
    </mat-card>

    <div fxFlex="25%">
      <div>

      </div>
    </div>
  </div>
  <div class="padding--16"></div>
  <div class="recipe_list">
    <img [src]="baseImagePath + 'share_recipe_others.jpg'" alt="">
  </div>
</div>
<app-footer></app-footer>

