.subscribe_btn {
  background-color: #cf1578;
  color: #fff;
  border-radius: 25px;
}

.subscribe_section p {
  margin: 0px !important;
  color: #000;
}

.Input {
  position: relative;
}

.Input-text {
  display: block;
  margin: 0;
  padding: 16px;
  color: inherit;
  font-weight: inherit;
  border: 1px solid #000;
  border-radius: 5px;
  width: 400px;
}

.Input-text::placeholder {
  color: #b0bec5;
}

.Input-text:focus {
  outline: none;
  box-shadow: 0.2rem 0.8rem 1.6rem var(--colorPrimary600);
}

