<div class="">
  <div class="padding--16"></div>
  <div class="padding--16">
    <div class="header" fxLayoutAlign="center">
      <p class="text-body1 font-bold color-grey">Oven-Baked French Bread Pizzas</p>
    </div>
    <div class="padding--4"></div>
    <mat-divider></mat-divider>
    <div class="padding--16"></div>
    <div class="recipe_section" fxLayout="column">
      <div fxLayout="row" fxLayoutGap="32px">
        <div fxLayout="column" fxFlex="40%">
          <div fxLayout="column" style="background-color: #fae596; padding: 0px 24px;" class="">
            <div fxLayout="row" fxLayoutGap="16px" fxLayoutAlign="space-between end">
              <div class="name" style="position: relative; left: 0; top: 0;">
                <img [src]="baseImagePath + 'chef-hat.png'" alt=""
                  style="position: relative; top: 15px; left: -20px; width: 50px">
                <p class="text-body2 font-bold">
                  Minimalist Baker
                </p>
              </div>
              <p class="text-body3">@pune</p>
            </div>
            <mat-divider></mat-divider>
            <div class="padding--4"></div>
            <div fxLayout="row" fxLayoutAlign="space-between center">
              <p class="text-body3" fxLayoutAlign="center center" fxLayoutGap="8px">
                <mat-icon>outdoor_grill</mat-icon>
                Servings:&nbsp; <span class="font-bold">4</span>
              </p>
              <p class="text-body3" fxLayoutAlign="center center" fxLayoutGap="8px">
                <mat-icon>alarm</mat-icon>
                Preparation time:&nbsp; <span class="font-bold">5 minutes</span>
              </p>
            </div>
          </div>
          <div class="padding--8"></div>
          <div class="image_wrapper">
            <img [src]="baseImagePath + 'cat3.jpg'" alt="">
          </div>
        </div>
        <div fxFlex="60%" class="content">
          <div class="description_section">
            <p class="text-body3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam quasi reiciendis
              consequatur suscipit qui quas nostrum atque doloribus necessitatibus maiores unde, fugiat dolore
              laboriosam earum ratione temporibus pariatur porro aspernatur.</p>
          </div>
          <div class="padding--8"></div>
          <div class="steps">
            <div class="ingrediants_section">
              <div style="background-color: #E78ABA; padding: 8px; color: #FFF;" fxLayout="row"
                fxLayoutAlign="start center" fxLayoutGap="8px">
                <mat-icon>receipt_long</mat-icon>
                <mat-label class="text-body2">Ingrediants</mat-label> <br>
              </div>
              <div class="padding--4"></div>
              <p class="text-body3">1 15-ounce can chickpeas (rinsed, drained and patted dry)</p>
              <p class="text-body3">1 Tbsp grape seed or avocado oil</p>
              <p class="text-body3">1 tsp each cumin and garlic powder</p>
              <p class="text-body3">1/2 tsp each sea salt + black pepper</p>
              <p class="text-body3">1/2 tsp smoked (or regular) paprika</p>
              <p class="text-body3">1/4 tsp each ground coriander + cinnamon</p>
            </div>
            <div class="padding--8"></div>
            <div class="instruction_section">
              <div style="background-color: #E78ABA; padding: 8px; color: #FFF;" fxLayout="row"
                fxLayoutAlign="start center" fxLayoutGap="8px">
                <mat-icon>ramen_dining</mat-icon>
                <mat-label class="text-body2">Instructions</mat-label> <br>
              </div>
              <div class="padding--4"></div>
              <p class="text-body3">Preheat oven to 400 degrees F (204 C) and line a large baking sheet (or more if
                making larger batch) with foil or parchment paper.</p>
              <p class="text-body3">In a small mixing bowl toss rinsed and dried chickpeas with oil and spices* and
                spread on baking sheet. Bake for 25 minutes or until slightly crispy and golden brown. Once slightly
                cooled, sample and adjust seasonings as desired (I added a bit more sea salt, cumin and garlic powder
                for
                extra flavor).</p>
              <p class="text-body3">While the chickpeas are roasting, prepare your sauce by adding hummus, lemon juice,
                dill and garlic to a mixing bowl and whisking to combine. Add enough water or almond milk to thin so
                it’s
                pourable (~2-3 Tbsp as original recipe is written // adjust amount if altering batch size).</p>
              <p class="text-body3">Taste and adjust seasonings as needed. Add more garlic for more zing, salt for
                savoriness, lemon juice for freshness, and dill for a more intense herb flavor. I found mine didn’t need
                anything else.</p>
              <p class="text-body3">To serve, warm pitas or flatbread in the microwave for 15 -30 seconds (or the still
                warm oven for 1 minute) and top with desired amount of chickpeas, sauce, and vegetables of
                choice.</p>
              <p class="text-body3">Best when fresh, though leftover chickpeas and sauce will keep well stored
                separately in the refrigerator for 3-4 days.</p>
            </div>
          </div>
          <share-buttons theme="circles-dark" fxLayoutAlign="end"
            [include]="['facebook', 'whatsapp']"
            [showIcon]="true" [showText]="false" url="https://rodrigo.kamada.com.br/"
            description="Angular Share Buttons" twitterAccount="rodrigokamada" class="pt-5">
          </share-buttons>
        </div>
      </div>
    </div>


    <div class="padding--16"></div>
    <div class="comment_section" [formGroup]="forms">
      <mat-card fxLayout="column">
        <h3><b>Leave a Comment</b></h3>
        <div fxLayout="row" fxLayoutGap="16px">
          <mat-form-field class="example-full-width">
            <mat-label>Name</mat-label>
            <input matInput formControlName="name">
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email">
          </mat-form-field>
        </div>
        <mat-form-field class="comments">
          <mat-label>Leave a comment</mat-label>
          <textarea cols="30" rows="3" matInput formControlName="comment"></textarea>
        </mat-form-field>
        <div fxLayoutAlign="end">
          <button class="comment_btn" mat-raised-button color="">Post Comment</button>
        </div>
      </mat-card>
    </div>
  </div>
  <div class="padding--8"></div>
  <app-footer></app-footer>
</div>
