.mat-divider {
  display: block;
  margin: 0;
  border-top-width: 2px;
  border-top-style: solid;
  border-color: #cf1578;
}

.content .mat-divider {
  display: block;
  margin: 0;
  border-top-width: 1px;
  border-top-style: solid;
  border-color: #000 !important;
}

.recipe_section,
.comment_section {
  padding: 0px 72px;
}

.image_wrapper img {
  width: 100%;
  max-width: 100%;
  height: auto;
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.9);
}

.name p::first-letter {
  font-size: 200%;
  color: #cf1578;
}

.step p {
  font-size: 16px;
  line-height: 1.9em;
  margin: 15px 0 20px;
  text-align: justify;
}

.ingrediants_section p, .instruction_section p, .description_section p {
  text-align: justify;
}

.comment_section mat-card {
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.9);
}

.comment_btn {
  background-color: #cf1578;
  border-radius: 25px;
  width: 175px;
}

.comment textarea {
  width: 80%;
}
