.recipe_section {
  /* padding: 0px 72px; */
}

.list {
  margin: 0px !important;
}

.mat-list-base .mat-list-item.mat-list-item-with-avatar {
  height: 40px !important;
}

.image_wrapper img {
  width: 100%;
  max-width: 100%;
  height: 300px;
}

.form_section mat-card {
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.9);
}

.comments {
  width: 80%;
}

.upload_btn {
  width: 150px;
}

.upload_image {
  width: 150px;
}

.croppedImage {
  width: 30%;
}

.submit_recipe {
  display: block;
  margin-left: auto;
  margin-right: 0;
}

.submit_btn {
  background-color: #cf1578;
  border-radius: 25px;
}
