<div class="container">
  <div class="padding--16"></div>
  <div class="recipe_section">
    <div fxLayout="row" fxLayoutGap="16px">
      <div fxFlex="" class="image_wrapper">
        <img [src]="baseImagePath + 'submit-recipe.jpg'" alt="">
      </div>
    </div>
    <div class="padding--16"></div>
    <div class="form_section">
      <mat-card [formGroup]="reciptForm" fxLayout="column">
        <div fxLayout="column">
          <p class="text-body3 color-grey" style="margin-bottom: -8px;">Have a recipe of your own to share? Now you can publish your own bakery recipes on our
            site. Submit your recipes by filling out this form and you'll see your recipe featured right here.</p>
          <mat-list class="tb-margin--top--16">
            <mat-list-item>
              <mat-icon mat-list-icon class="tb-icon--16 color--green">check_circle</mat-icon>
              <p class="text-body3 list">You can post recipes of category Breads, Buns,
                Biscuits, Cookies, Cakes, Pastries, Doughnuts and Crakers only.</p>
            </mat-list-item>
            <mat-list-item>
              <mat-icon mat-list-icon class="tb-icon--16 color--green">check_circle</mat-icon>
              <p class="text-body3 list">All the ingredients and preparation steps must be
                clearly listed line by line.</p>
            </mat-list-item>
            <mat-list-item>
              <mat-icon mat-list-icon class="tb-icon--16 color--green">check_circle</mat-icon>
              <p class="text-body3 list">No stock photo are allowed. Only PNG and JPEG format
                images are allowed.</p>
            </mat-list-item>
            <mat-list-item>
              <mat-icon mat-list-icon class="tb-icon--16 color--green">check_circle</mat-icon>
              <p class="text-body3 list">Recipes are subject to review and may be edited /
                modified in order to feature in our website.</p>
            </mat-list-item>
            <mat-list-item>
              <mat-icon mat-list-icon class="tb-icon--16 color--green">check_circle</mat-icon>
              <p class="text-body3 list">If your recipe is chosen for our website gallery we may
                also share it on some our social media channels, including Facebook, Twitter, and Instagram.</p>
            </mat-list-item>
          </mat-list>
          <div class="padding--8"></div>
          <div fxLayout="row" fxLayoutGap="16px">
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Your name</mat-label>
              <input matInput formControlName="name">
            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>City from</mat-label>
              <input matInput>
            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Email ID</mat-label>
              <input matInput>
            </mat-form-field>
          </div>
          <div fxLayout="row" fxLayoutGap="16px">
            <mat-form-field appearance="outline">
              <mat-label>Category</mat-label>
              <mat-select>
                <mat-option *ngFor="let category of categories" [value]="category.type">{{category.name}}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Recipe name</mat-label>
              <input matInput>
            </mat-form-field>
          </div>
          <mat-form-field class="comments" appearance="outline">
            <mat-label>Recipe details</mat-label>
            <textarea cols="30" rows="3" matInput></textarea>
            <mat-hint>Hint</mat-hint>
          </mat-form-field>

          <div fxLayout="row" fxLayoutGap="16px">
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Number of servings</mat-label>
              <input matInput>
            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Time to prepare</mat-label>
              <mat-select>
                <mat-option *ngFor="let type of preparationTimeTypes" [value]="type.type">{{type.name}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <mat-form-field class="comments" appearance="outline">
            <mat-label>Ingrediants</mat-label>
            <textarea cols="30" rows="3" matInput
              placeholder="ex. 1 cups cream(200 mL)&#10;4 small tomatoes, diced"></textarea>
            <mat-hint>Please mention Ingrediants line by line here</mat-hint>
          </mat-form-field>
          <mat-form-field class="comments" appearance="outline">
            <mat-label>Steps to prepare</mat-label>
            <textarea cols="30" rows="3" matInput placeholder="ex. 1. Trim the stems off the broccoli heads and chop into small florets.&#10;
2. Mix in the broccoli, carrots, salt, pepper, and nutmeg."></textarea>
            <mat-hint>Please mention perparation steps line by line here</mat-hint>
          </mat-form-field>
          <div class="padding--8"></div>
        </div>
        <div fxLayout="column">
          <input style="display: none" type="file" (change)="fileChangeEvent($event)" #fileInput>
          <button class="upload_btn" mat-raised-button color="primary" (click)="fileInput.click()">Upload Image
            <mat-icon>attach_file</mat-icon>
          </button>
          <mat-hint>PNG or JPEG images are allowed</mat-hint>
        </div>
        <div class="padding--8"></div>
        <div *ngIf="croppedImage" fxFlex="30%" class="">
          <p class="text--body3">Preview</p>
          <img class="croppedImage" [src]="croppedImage" />
        </div>

        <div class="padding--8"></div>
        <div fxLayoutAlign="end end" class="submit_recipe">
          <button class="submit_btn" mat-raised-button color="primary">Submit recipe
          </button>
        </div>
      </mat-card>
    </div>
  </div>
  <div class="padding--16"></div>
</div>
<app-footer></app-footer>
