.mat-divider {
  display: block;
  margin: 0;
  border-top-width: 2px;
  border-top-style: solid;
  border-color: #cf1578;
}

.recipe_list {
  padding: 0px 72px;
}

.image_wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 5px;
}

.image_wrapper img {
  width: 100%;
  max-width: 100%;
  height: 100%;
  transition: all 0.4s;
  cursor: pointer;
  box-shadow: 0 0 11px rgba(33,33,33,.9);
}

.image_wrapper:hover img {
  transform: scale(1.2, 1.2);
}

.image_wrapper-text {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.75);
  color: #fff;
  bottom: 0px;
  width: 100%;
  text-align: center;
  min-height: 150px;
  max-height: 150px;
  cursor: pointer;
}

.image_wrapper-text h5 {
  font-size: 20px;
  background-color: #cf1578;
  padding: 8px 16px;
  min-width: 50%;
  max-width: 100%;
  position: absolute;
  top: -10px;
  border-radius: 5px;
}

.image_wrapper-text p {
  line-height: 20px;
  padding: 0px 8px;
  position: absolute;
  bottom: 0px;
}
