<div class="">
  <div class="padding--16"></div>
  <div class="padding--16">
    <div class="header" fxLayoutAlign="center">
      <p class="text-body1 font-bold">Category 1</p>
    </div>
    <div class="padding--4"></div>
    <mat-divider></mat-divider>
    <div class="padding--16"></div>
    <div class="recipe_list">
      <mat-card>
        <div fxLayout="row" fxLayoutGap="16px">
          <div fxFlex="25%">
            <div class="image_wrapper" fxLayoutAlign="center center" (click)="viewRecipe()">
              <img [src]="baseImagePath + 'first.jpg'" alt="">
              <div class="image_wrapper-text" fxLayout="column" fxLayoutAlign="center center">
                <h5>Bread</h5>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo aliquam fuga voluptatibus,
                  exercitationem quisquam dolores dolor!</p>
              </div>
            </div>
          </div>
          <div fxFlex="25%">
            <div class="image_wrapper" fxLayoutAlign="center center">
              <img [src]="baseImagePath + 'second.jpg'" alt="">
              <div class="image_wrapper-text" fxLayout="column" fxLayoutAlign="center center">
                <h5>Bread</h5>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo aliquam fuga voluptatibus,
                  exercitationem quisquam dolores dolor!</p>
              </div>
            </div>
          </div>
          <div fxFlex="25%">
            <div class="image_wrapper" fxLayoutAlign="center center">
              <img [src]="baseImagePath + 'third.jpg'" alt="">
              <div class="image_wrapper-text" fxLayout="column" fxLayoutAlign="center center">
                <h5>Bread</h5>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo aliquam fuga voluptatibus,
                  exercitationem quisquam dolores dolor!</p>
              </div>
            </div>
          </div>
          <div fxFlex="25%">
            <div class="image_wrapper" fxLayoutAlign="center center">
              <img [src]="baseImagePath + 'cat4.jpg'" alt="">
              <div class="image_wrapper-text" fxLayout="column" fxLayoutAlign="center center">
                <h5>Bread</h5>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo aliquam fuga voluptatibus,
                  exercitationem quisquam dolores dolor!</p>
              </div>
            </div>
          </div>
        </div>
        <div class="padding--16"></div>
        <div fxLayout="row" fxLayoutGap="16px">
          <div fxFlex="25%">
            <div class="image_wrapper" fxLayoutAlign="center center">
              <img [src]="baseImagePath + 'first.jpg'" alt="">
              <div class="image_wrapper-text" fxLayout="column" fxLayoutAlign="center center">
                <h5>Bread</h5>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo aliquam fuga voluptatibus,
                  exercitationem quisquam dolores dolor!</p>
              </div>
            </div>
          </div>
          <div fxFlex="25%">
            <div class="image_wrapper" fxLayoutAlign="center center">
              <img [src]="baseImagePath + 'second.jpg'" alt="">
              <div class="image_wrapper-text" fxLayout="column" fxLayoutAlign="center center">
                <h5>Bread</h5>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo aliquam fuga voluptatibus,
                  exercitationem quisquam dolores dolor!</p>
              </div>
            </div>
          </div>
          <div fxFlex="25%">
            <div class="image_wrapper" fxLayoutAlign="center center">
              <img [src]="baseImagePath + 'third.jpg'" alt="">
              <div class="image_wrapper-text" fxLayout="column" fxLayoutAlign="center center">
                <h5>Bread</h5>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo aliquam fuga voluptatibus,
                  exercitationem quisquam dolores dolor!</p>
              </div>
            </div>
          </div>
          <div fxFlex="25%">
            <div class="image_wrapper" fxLayoutAlign="center center">
              <img [src]="baseImagePath + 'cat4.jpg'" alt="">
              <div class="image_wrapper-text" fxLayout="column" fxLayoutAlign="center center">
                <h5>Bread</h5>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo aliquam fuga voluptatibus,
                  exercitationem quisquam dolores dolor!</p>
              </div>
            </div>
          </div>
        </div>
      </mat-card>
    </div>
    <div class="padding--16"></div>
    <div class="recipe_list">
      <img [src]="baseImagePath + 'share_recipe_others.jpg'" alt="">
    </div>
  </div>
  <!-- <div class="padding--16"></div> -->
  <app-footer></app-footer>
</div>
