<h2 class="tb-padding--12" mat-dialog-title>Crop Image</h2>
<mat-dialog-content class="middlePopCont" fxLayout="column" fxLayoutAlign="start center">
  <div class="image-area">
    <div class="text-center col-md-8">
      <image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="false" [aspectRatio]="4 / 4"
        [cropperStaticWidth]="300" [cropperStaticHeight]="400" [resizeToWidth]="300" [resizeToHeight]="400" format="png"
        format="jpeg" (imageCropped)="imageCropped($event)" (imageLoaded)="imageLoaded()"
        (cropperReady)="cropperReady()" (loadImageFailed)="loadImageFailed($event)">
      </image-cropper>
    </div>
  </div>
  <div *ngIf="error">
    <p class="text-body3">{{error}}</p>
  </div>
  <br />
</mat-dialog-content>
<mat-dialog-actions class="confirmBtns tb-padding--8-16" fxLayout="row" fxLayoutAlign="start end">
  <button mat-raised-button [mat-dialog-close]="false">Cancel</button>
  <button mat-raised-button class="blueBtn" (click)="onSave()" color="primary">Save</button>
</mat-dialog-actions>
