<div class="footer">
  <div class="padding--16" fxLayout="row" fxLayoutAlign="space-between center">
    <img class="logo" [src]="baseImagePath + 'bawarchi_logo.png'" alt="">
    <div fxFlex="30%" fxLayout="column" fxLayoutAlign="center center">
      <p class="text-body3 color-white">Follow Us</p>
      <div fxLayout="row" fxLayoutGap="16px">
        <img class="logo_small" [src]="baseImagePath + 'fb.svg'" alt="">
        <img class="logo_small" [src]="baseImagePath + 'insta.svg'" alt="">
      </div>
    </div>
  </div>
</div>
