@use '@angular/material' as mat;

@include mat.core();

// $my-theme-primary: mat-pallate($mat-indigo);
// $my-theme-accent: mat-palette(mat.$pink-palette, A200, A100, A400);
// $my-theme-warn: mat-pallate($mat-red);

// $mat-theme: mat-light-theme($my-theme-primary, $my-theme-accent, $my-theme-warn);

// @include angular-material-theme($my-theme);


$my-primary: mat.define-palette(mat.$indigo-palette, 500);
$my-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$my-warn: mat.define-palette(mat.$red-palette);


$my-theme: mat.define-light-theme((
 color: (
   primary: $my-primary,
   accent: $my-accent,
 )
));

@include mat.core-theme($my-theme);
@include mat.button-theme($my-theme);
