/* You can add global styles to this file, and also import other style files */
:host {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  /* color: #333; */
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  touch-action: manipulation;
}

@font-face {
  font-family: "Daikon-Light";
  src: url(/assets/font/Daikon-Regular.ttf) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Daikon-Bold";
  src: url(/assets/font/Daikon-Bold.ttf) format("woff2");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v55/flUhRq6tzZclQEJ-Vdg-IuiaDsNcIhQ8tQ.woff2) format("woff2");
  font-display: swap;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
}

p {
  margin: 0;
}

.spacer {
  flex: 1;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Daikon-Light, sans-serif;
  font-weight: 400;
  font-style: normal;
}

a,
h1,
h2,
h3,
h4,
h5,
h6,
span,
ul,
li,
b,
p,
input {
  font-family: "Daikon-Light", sans-serif !important;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.text-body1 {
  font-size: 32px;
}

.text-body2 {
  font-size: 24px;
}

.text-body3 {
  font-size: 16px;
}

.tb-icon--16 {
  height: 16px !important;
  width: 16px !important;
  font-size: 16px !important;
  line-height: 16px !important;
}

.line-height--24 {
  line-height: 24px;
}

.border-radius--5 {
  border-radius: 5px;
}

.padding--4 {
  padding: 4px;
}

.padding--8 {
  padding: 8px;
}

.padding--16 {
  padding: 16px;
}

.padding--24 {
  padding: 24px;
}

.margin--0 {
  margin: 0px;
}

.margin--top-16 {
  margin-top: 16px;
}

.margin--16 {
  margin: 16px;
}

.font-bold {
  font-weight: bold;
}

.color-white {
  color: #fff;
}

.color-grey {
  color: rgba(black, 0.87);
}

.color--green {
  color: green;
}

.mat-tab-label {
  color: #000;
}

.mat-drawer-container {
  color: #000;
}
