.mat-toolbar {
  position: -webkit-sticky;
  top: 0;
  z-index: 1000;
  background-color: mintcream;
}

.toolbar {
}

.toolbar img {
  margin: 0 16px;
}

.mat-elevation-z5 {
  position: sticky;
  z-index: 10;
}
.example-spacer {
  flex: 1 1 auto;
}

.relative {
  position: relative;
}
.absolute {
  position: absolute;
  bottom: 0;
  left: 0;
}

.example-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.example-is-mobile .example-toolbar {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
}

h1.example-app-name {
  margin-left: 8px;
}

.example-sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;
}

.example-is-mobile .example-sidenav-container {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
     `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;
}

.mat-typography p {
  margin: 0;
}

.logo {
  height: 70px;
  width: auto;
}

.logo_small {
  height: 30px;
  width: auto;
}

.example-sidenav {
  padding-left: 0px;
}


@media (max-width: 620px) {
  .example-sidenav {
    width: 70%;
  }
}

.mat-drawer-container {
  background-color: #efe2ba;
}

.navbar {
  padding-right: 32px;
}

.navbar ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.navbar li p {
  font-size: 16px;
  color: #cf1578;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.navbar li p:hover {
  color: #cf1578;
  font-size: 18px;
  font-weight: bolder;
  transition: all 0.4s;
}

/* .active {
  background-color: #e78aba;
  color: #fff;
  padding: 0px 8px;
  border-radius: 5px;
} */
