
<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar class="example-toolbar tb-color-bg--white mat-elevation-z5 toolbar padding--4">
    <mat-icon fxHide.xs="false" fxHide="true" (click)="snav.toggle()">menu</mat-icon>
    <div class="tb-padding--4"></div>
    <div fxLayout="row" fxFlex fxLayoutAlign="space-between center">
      <img class="logo" ngClass.xs="logo_small" [src]="baseImagePath + 'bawarchi_logo.png'" alt="">
      <div class="navbar">
        <ul fxLayout="row" fxLayoutAlign="end" fxLayoutGap="24px">
          <li (click)="goToTop()" routerLink="./" routerLinkActive="active">
            <p class="text-body3">Home</p>
          </li>
          <li routerLinkActive="active" [matMenuTriggerFor]="menu">
            <p class="text-body3">Recipe</p>
          </li>
          <mat-menu #menu="matMenu" xPosition="after">
            <button mat-menu-item>Breads & Buns</button>
            <button mat-menu-item>Biscuits & Cookies</button>
            <button mat-menu-item>Cakes & Pastries</button>
            <button mat-menu-item>Doughnuts & Crakers</button>
          </mat-menu>
          <li routerLink="/submit-recipe" routerLinkActive="active">
            <p class="text-body3">Add Recipe</p>
          </li>
          <!-- <li (click)="goToAbout()" routerLinkActive="active"> -->
          <li routerLink="/extras" routerLinkActive="active">
            <p class="text-body3">Extras</p>
          </li>
        </ul>
      </div>

    </div>
  </mat-toolbar>

  <mat-sidenav-container style="z-index: 2;" class="example-container"
    [style.marginTop.px]="mobileQuery.matches ? 56 : 50" autosize>
    <mat-sidenav #snav class="example-sidenav" [mode]="mobileQuery.matches ? 'over' : 'side'" fixedTopGap="0"
      [opened]="mobileQuery.matches ? 'false' : 'true'" [fixedInViewport]="mobileQuery.matches">
      <!-- <app-side-nav></app-side-nav> -->
    </mat-sidenav>
    <div class="example-sidenav-content content" id="topSection">
      <div class="tb-height--full  tb-overflow--auto" fxFlexFill #fixedContent>
        <router-outlet></router-outlet>
      </div>
    </div>
  </mat-sidenav-container>
</div>
