<div class="">
  <div class="margin--top-16 top_section">
    <img [src]="baseImagePath + 'home_banner.jpg'" alt="">
  </div>
  <ng-container *ngIf="age ?? calculate()"></ng-container>
  <div class="padding--16" id="recipeSection"> </div>
  <div class="category_section">
    <mat-card>
      <mat-tab-group mat-align-tabs="center" animationDuration="2000ms"
        mat-stretch-tabs>
        <mat-tab>
          <ng-template mat-tab-label>
            <img class="logo" [src]="baseImagePath + 'bread.svg'">
            <span>Breads & Buns</span>
          </ng-template>
          <div class="padding--8"> </div>
          <div fxLayout="row" fxLayoutGap="16px">
            <div fxFlex="33.33%">
              <div class="image_wrapper" fxLayoutAlign="center center" (click)="viewRecipe()">
                <img [src]="baseImagePath + 'cat1.jpg'" alt="">
                <div class="image_wrapper-text" fxLayout="column" fxLayoutAlign="center center">
                  <h5>Bread</h5>
                  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo aliquam fuga voluptatibus,
                    exercitationem quisquam dolores dolor! Fuga quis ipsam eius sint ab veniam distinctio dicta enim,
                    rem
                    unde dolorem at.</p>
                </div>
              </div>
            </div>
            <div fxFlex="33.33%">
              <div class="image_wrapper" fxLayoutAlign="center center">
                <img [src]="baseImagePath + 'cat2.jpg'" alt="">
                <div class="image_wrapper-text" fxLayout="column" fxLayoutAlign="center center">
                  <h5>Bread</h5>
                  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo aliquam fuga voluptatibus,
                    exercitationem quisquam dolores dolor! Fuga quis ipsam eius sint ab veniam distinctio dicta enim,
                    rem
                    unde dolorem at.</p>
                </div>
              </div>
            </div>
            <div fxFlex="33.33%">
              <div class="image_wrapper" fxLayoutAlign="center center">
                <img [src]="baseImagePath + 'cat3.jpg'" alt="">
                <div class="image_wrapper-text" fxLayout="column" fxLayoutAlign="center center">
                  <h5>Bread</h5>
                  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo aliquam fuga voluptatibus,
                    exercitationem quisquam dolores dolor! Fuga quis ipsam eius sint ab veniam distinctio dicta enim,
                    rem
                    unde dolorem at.</p>
                </div>
              </div>
            </div>
          </div>
          <div fxLayoutAlign="end" class="padding--8">
            <button class="view_btn" mat-raised-button (click)="readAll()">Read All</button>
          </div>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <img class="logo" [src]="baseImagePath + 'cookie.svg'">
            <span>Biscuits & Cookies</span>
          </ng-template>
          <div class="padding--8"> </div>
          <div fxLayout="row" fxLayoutGap="16px">
            <div fxFlex="33.33%">
              <div class="image_wrapper" fxLayoutAlign="center center">
                <img [src]="baseImagePath + 'cat1.jpg'" alt="">
                <div class="image_wrapper-text" fxLayout="column" fxLayoutAlign="center center">
                  <h5>Bread</h5>
                  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo aliquam fuga voluptatibus,
                    exercitationem quisquam dolores dolor! Fuga quis ipsam eius sint ab veniam distinctio dicta enim,
                    rem
                    unde dolorem at.</p>
                </div>
              </div>
            </div>
            <div fxFlex="33.33%">
              <div class="image_wrapper" fxLayoutAlign="center center">
                <img [src]="baseImagePath + 'cat2.jpg'" alt="">
                <div class="image_wrapper-text" fxLayout="column" fxLayoutAlign="center center">
                  <h5>Bread</h5>
                  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo aliquam fuga voluptatibus,
                    exercitationem quisquam dolores dolor! Fuga quis ipsam eius sint ab veniam distinctio dicta enim,
                    rem
                    unde dolorem at.</p>
                </div>
              </div>
            </div>
            <div fxFlex="33.33%">
              <div class="image_wrapper" fxLayoutAlign="center center">
                <img [src]="baseImagePath + 'cat3.jpg'" alt="">
                <div class="image_wrapper-text" fxLayout="column" fxLayoutAlign="center center">
                  <h5>Bread</h5>
                  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo aliquam fuga voluptatibus,
                    exercitationem quisquam dolores dolor! Fuga quis ipsam eius sint ab veniam distinctio dicta enim,
                    rem
                    unde dolorem at.</p>
                </div>
              </div>
            </div>
          </div>
          <div fxLayoutAlign="end" class="padding--8">
            <button class="view_btn" mat-raised-button>Read All</button>
          </div>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <img class="logo" [src]="baseImagePath + 'cake.svg'">
            <span>Cakes & Pastries</span>
          </ng-template>
          <div class="padding--8"> </div>
          <div fxLayout="row" fxLayoutGap="16px">
            <div fxFlex="33.33%">
              <div class="image_wrapper" fxLayoutAlign="center center">
                <img [src]="baseImagePath + 'cat1.jpg'" alt="">
                <div class="image_wrapper-text" fxLayout="column" fxLayoutAlign="center center">
                  <h5>Bread</h5>
                  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo aliquam fuga voluptatibus,
                    exercitationem quisquam dolores dolor! Fuga quis ipsam eius sint ab veniam distinctio dicta enim,
                    rem
                    unde dolorem at.</p>
                </div>
              </div>
            </div>
            <div fxFlex="33.33%">
              <div class="image_wrapper" fxLayoutAlign="center center">
                <img [src]="baseImagePath + 'cat2.jpg'" alt="">
                <div class="image_wrapper-text" fxLayout="column" fxLayoutAlign="center center">
                  <h5>Bread</h5>
                  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo aliquam fuga voluptatibus,
                    exercitationem quisquam dolores dolor! Fuga quis ipsam eius sint ab veniam distinctio dicta enim,
                    rem
                    unde dolorem at.</p>
                </div>
              </div>
            </div>
            <div fxFlex="33.33%">
              <div class="image_wrapper" fxLayoutAlign="center center">
                <img [src]="baseImagePath + 'cat3.jpg'" alt="">
                <div class="image_wrapper-text" fxLayout="column" fxLayoutAlign="center center">
                  <h5>Bread</h5>
                  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo aliquam fuga voluptatibus,
                    exercitationem quisquam dolores dolor! Fuga quis ipsam eius sint ab veniam distinctio dicta enim,
                    rem
                    unde dolorem at.</p>
                </div>
              </div>
            </div>
          </div>
          <div fxLayoutAlign="end" class="padding--8">
            <button class="view_btn" mat-raised-button>Read All</button>
          </div>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <img class="logo" [src]="baseImagePath + 'doughnut.svg'">
            <span>Doughnuts & Crakers</span>
          </ng-template>
          <div class="padding--8"> </div>
          <div fxLayout="row" fxLayoutGap="16px">
            <div fxFlex="33.33%">
              <div class="image_wrapper" fxLayoutAlign="center center">
                <img [src]="baseImagePath + 'cat1.jpg'" alt="">
                <div class="image_wrapper-text" fxLayout="column" fxLayoutAlign="center center">
                  <h5>Bread</h5>
                  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo aliquam fuga voluptatibus,
                    exercitationem quisquam dolores dolor! Fuga quis ipsam eius sint ab veniam distinctio dicta enim,
                    rem
                    unde dolorem at.</p>
                </div>
              </div>
            </div>
            <div fxFlex="33.33%">
              <div class="image_wrapper" fxLayoutAlign="center center">
                <img [src]="baseImagePath + 'cat2.jpg'" alt="">
                <div class="image_wrapper-text" fxLayout="column" fxLayoutAlign="center center">
                  <h5>Bread</h5>
                  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo aliquam fuga voluptatibus,
                    exercitationem quisquam dolores dolor! Fuga quis ipsam eius sint ab veniam distinctio dicta enim,
                    rem
                    unde dolorem at.</p>
                </div>
              </div>
            </div>
            <div fxFlex="33.33%">
              <div class="image_wrapper" fxLayoutAlign="center center">
                <img [src]="baseImagePath + 'cat3.jpg'" alt="">
                <div class="image_wrapper-text" fxLayout="column" fxLayoutAlign="center center">
                  <h5>Bread</h5>
                  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo aliquam fuga voluptatibus,
                    exercitationem quisquam dolores dolor! Fuga quis ipsam eius sint ab veniam distinctio dicta enim,
                    rem
                    unde dolorem at.</p>
                </div>
              </div>
            </div>
          </div>
          <div fxLayoutAlign="end" class="padding--8">
            <button class="view_btn" mat-raised-button>Read All</button>
          </div>
        </mat-tab>
      </mat-tab-group>
    </mat-card>
  </div>
  <div class="padding--16" id="aboutSection"></div>
  <div class="about_section">
    <div fxLayout="row" fxLayoutGap="32px" fxLayoutAlign="flex-start center">
      <div fxFlex="30%" class="image_background">
        <img [src]="baseImagePath + 'user.jpg'" alt="">
      </div>
      <div fxFlex="70%">
        <p class="text-body1 font-bold color-white">About me</p>
        <mat-divider></mat-divider>
        <div class="padding--4"></div>
        <p class="text-body3 line-height--24 color-white">Lorem ipsum dolor sit amet consectetur, adipisicing elit.
          Placeat,
          praesentium? Impedit
          necessitatibus veritatis saepe consequuntur explicabo, culpa a odio temporibus quo? Consequuntur dignissimos
          et earum alias quaerat autem. Laudantium, animi?Lorem ipsum dolor sit amet consectetur, adipisicing elit.
          Placeat, praesentium? Impedit
          necessitatibus veritatis saepe consequuntur explicabo, culpa a odio temporibus quo? Consequuntur dignissimos
          et earum alias quaerat autem. Laudantium, animi?</p>
      </div>
    </div>
  </div>
  <div class="padding--16"> </div>
  <div class="special_section">
    <mat-card>
      <div fxLayout="row" fxLayoutGap="32px">
        <div fxLayout="row" fxLayoutGap="16px" class="bg_dark bg_text border-radius--5"
          fxLayoutAlign="flex-start center">
          <div fxFlex="40%" class="image_wrapper">
            <img [src]="baseImagePath + 'food.jpg'" alt="">
          </div>
          <div fxFlex="60%" fxLayout="column" class="padding--8">
            <p class="text-body2">Doloremque libero necessitatibus </p>
            <p class="text-body3">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloremque libero
              necessitatibus nisi sequi sit
              enim itaque id rem totam unde adipisci consequatur ad cupiditate, quibusdam amet perferendis, nulla
              eveniet
              quisquam?</p>
            <div fxLayoutAlign="end">
              <button mat-raised-button class="read_button">read recipe</button>
            </div>
          </div>
        </div>
        <div fxLayout="row" fxLayoutGap="16px" class="bg_dark bg_text border-radius--5"
          fxLayoutAlign="flex-start center">
          <div fxFlex="40%" class="image_wrapper">
            <img [src]="baseImagePath + 'food.jpg'" alt="">
          </div>
          <div fxFlex="60%" fxLayout="column" class="padding--8">
            <p class="text-body2">Doloremque libero necessitatibus </p>
            <p class="text-body3">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloremque libero
              necessitatibus nisi sequi sit
              enim itaque id rem totam unde adipisci consequatur ad cupiditate, quibusdam amet perferendis, nulla
              eveniet
              quisquam?</p>
            <div fxLayoutAlign="end">
              <button mat-raised-button class="read_button">read recipe</button>
            </div>
          </div>
        </div>
      </div>
      <div class="padding--8"></div>
      <div fxLayout="row" fxLayoutGap="32px">
        <div fxLayout="row" fxLayoutGap="16px" class="bg_dark bg_text border-radius--5"
          fxLayoutAlign="flex-start center">
          <div fxFlex="40%" class="image_wrapper">
            <img [src]="baseImagePath + 'food.jpg'" alt="">
          </div>
          <div fxFlex="60%" fxLayout="column" class="padding--8">
            <p class="text-body2">Doloremque libero necessitatibus </p>
            <p class="text-body3">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloremque libero
              necessitatibus nisi sequi sit
              enim itaque id rem totam unde adipisci consequatur ad cupiditate, quibusdam amet perferendis, nulla
              eveniet
              quisquam?</p>
            <div fxLayoutAlign="end">
              <button mat-raised-button class="read_button">read recipe</button>
            </div>
          </div>
        </div>
        <div fxLayout="row" fxLayoutGap="16px" class="bg_dark bg_text border-radius--5"
          fxLayoutAlign="flex-start center">
          <div fxFlex="40%" class="image_wrapper">
            <img [src]="baseImagePath + 'food.jpg'" alt="">
          </div>
          <div fxFlex="60%" fxLayout="column" class="padding--8">
            <p class="text-body2">Doloremque libero necessitatibus </p>
            <p class="text-body3">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloremque libero
              necessitatibus nisi sequi sit
              enim itaque id rem totam unde adipisci consequatur ad cupiditate, quibusdam amet perferendis, nulla
              eveniet
              quisquam?</p>
            <div fxLayoutAlign="end">
              <button mat-raised-button class="read_button">read recipe</button>
            </div>
          </div>
        </div>
      </div>
    </mat-card>
  </div>
  <div class="padding--16"> </div>
  <div class="share_recipe_section">
    <img [src]="baseImagePath + 'share_recipe.jpg'" alt="">
  </div>
  <!-- <div class="padding--16"> </div>
  <div class="subscribe_section">
    <img [src]="baseImagePath + 'banner2.jpg'" alt="">
    <div class="subscribe_section_text">
      <p class="text-body1 margin--0 font-bold">
        Subscribe for latest update</p>
      <div class="padding--8"></div>
      <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="16px">
        <div class="Input">
          <input type="text" id="input" class="Input-text" placeholder="e.g. pat@example.com">
        </div>
        <div class="padding--8"></div>
        <div>
          <button class="subscribe_btn" mat-raised-button color="">Subscribe</button>
        </div>
      </div>
    </div>
  </div> -->
  <div class="padding--16"> </div>
  <div class="footer">
    <app-footer></app-footer>
  </div>
</div>
