.container {
}

.top_section img {
  object-fit: cover;
  line-height: unset;
  height: 100%;
  width: 100%;
}

.category_section,
.special_section,
.subscribe_section,
.share_recipe_section {
  padding: 0px 72px;
}

.mat-card {
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.9);
}

::ng-deep .mat-tab-list .mat-tab-labels .mat-tab-label-active {
  color: #cf1578;
}

::ng-deep .mat-ink-bar {
  background-color: #cf1578 !important;
}

.image_wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 5px;
  cursor: pointer;
}

.image_wrapper img {
  width: 100%;
  max-width: 100%;
  height: 100%;
  transition: all 0.4s;
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.9);
}

.image_wrapper:hover img {
  transform: scale(1.2, 1.2);
}

.image_wrapper-text {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  bottom: 0px;
  width: 100%;
  text-align: center;
  min-height: 150px;
  max-height: 150px;
}

.image_wrapper-text h5 {
  font-size: 20px;
  background-color: #cf1578;
  padding: 8px 16px;
  min-width: 50%;
  max-width: 100%;
  position: absolute;
  top: -10px;
  border-radius: 5px;
}

.image_wrapper-text p {
  line-height: 24px;
  padding: 0px 16px;
  position: absolute;
  bottom: 0px;
}

.view_btn {
  border-radius: 25px;
  background-color: #212121;
}

.view_btn:hover {
  border-radius: 25px;
  color: #212121;
  background-color: #fff;
}

.about_section {
  padding: 60px 32px;
  background-color: #e78aba;
}

.mat-divider {
  display: block;
  margin: 0;
  border-top-width: 2px;
  border-top-style: solid;
  border-color: #cf1578;
}

.example-stretched-tabs {
  /* max-width: 800px; */
}

.image_background {
  margin-left: 32px;
  margin-bottom: -16px;
  position: relative;
  z-index: 1;
}

.image_background::before {
  position: absolute;
  top: -30px;
  left: -30px;
  content: "";
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: #000;
  border-radius: 5px;
}

.image_background img {
  border-radius: 5px;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.4);
}

.bg_dark {
  background-color: #212121;
}

.bg_text {
  color: #fff;
}

.read_button {
  background-color: #cf1578;
  width: 50%;
  border-radius: 25px;
}

.read_button:hover {
  background-color: #fff;
  color: #cf1578;
}

.subscribe_section {
  position: relative;
}

.subscribe_section img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.subscribe_section_text {
  position: absolute;
  top: 50%;
  right: 50%;
}

.subscribe_section_text p {
  color: #000;
}

.logo {
  height: 50px;
  width: auto;
}

.subscribe_btn {
  background-color: #cf1578;
  border-radius: 25px;
}

.subscribe_section p {
  margin: 0px !important;
  color: #000;
}

.Input {
  position: relative;
}

.Input-text {
  display: block;
  margin: 0;
  padding: 16px;
  color: inherit;
  width: 100%;
  font-family: inherit;
  font-size: var(--inputFontSize);
  font-weight: inherit;
  line-height: var(--inputLineHeight);
  border: none;
  border-radius: 0.4rem;
  transition: box-shadow var(--transitionDuration);
}

.Input-text::placeholder {
  color: #b0bec5;
}

.Input-text:focus {
  outline: none;
  box-shadow: 0.2rem 0.8rem 1.6rem var(--colorPrimary600);
}
